* {
    font-family: monospace, monospace;
}

table, th, td {
    border: 1px solid;
}

td button {
    display: block;
    margin: auto;
}
input {
    margin-top: 5px;
}

th {
    width: 10em;
}

p {
    width: 40em;
}

h1 {
    margin-bottom: 5px;
}

@media only screen and (max-width: 45em) {
    p {
        width: 95%;
    }
}